---
import { Image, Picture } from "@astrojs/image/components";
import ButtonFun from "../../components/ButtonFun.astro";
import DataColumn from "../../components/DataColumn.astro";
const { category, title, description, author, date, image } = Astro.props;


const allPosts = await Astro.glob("./*.md");
import MaxPostCard from "../../components/MaxPostCard.astro";


import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="The Music">
	<ButtonFun />
	<div class="flex flex-col text-viz1 font-viz w-full h-full m-2 p-5">
		<div class="flex justify-between">
		<h1 class="text-4xl text-biz1">{title}</h1>
		<h2 class="text-3xl text-biz2">{description}</h2>
		</div>
		<div class="flex flex-row justify-around m-2 ">
			<Image
				src="/final-characters/v1.png"
				alt="fiz the science note"
				width={300}
				height={570}
				format="avif"
				quality={100}
				fit="cover"
			/>



			<div class=" flex flex-col w-1/3 p-3 text-viz1 justify-between">
				<h2 class="text-2xl">So... you're hear for</h2>
				<h1 class="text-6xl text-center ">The Music</h1>
				<h4 class="text-xl">Tunes for all occasions</h4>
				<h4 class="text-lg text-center">we got yoooo back</h4>
				<h3 class="text-xl">Heres some notes to keep you <span class="text-biz1 font-biz">bizzi</span>:</h3>
			</div>

		</div>

	</div>





	<DataColumn />






</MainLayout>


