---
import { Image, Picture } from "@astrojs/image/components";

const { category, title, description, author, date, image } = Astro.props;


const allPosts = await Astro.glob("./*.mdx");
import MaxPostCard from "../../components/MaxPostCard.astro";


import MainLayout from "../../layouts/MainLayout.astro";
---
 
<MainLayout title="The Cooking">

	<div class="flex flex-col text-biz1 bg-slate-900 font-biz w-full h-full m-2 p-5">
		<div class="flex justify-between">
		<h1 class="text-4xl text-biz1">{title}</h1>
		<h2 class="text-3xl text-biz2">{description}</h2>
		</div>
		<div class="flex flex-row justify-around m-2 ">
			<Image
				src="/final-characters/b1.png"
				alt="fiz the science note"
				width={200}
				height={500}
				format="avif"
				quality={90}
				fit="cover"
			/>



			<div class="bg-black flex flex-col w-1/3 p-3 text-biz1 justify-between">
				<h2 class="text-2xl">Welcome to:</h2>
				<h1 class="text-6xl text-center ">The Food</h1>
				<h4 class="text-xl">Riding the Road to better health, you might want to think about what you put in the tank</h4>
				<h4 class="text-lg text-center">but dont you worry, I got yoo back</h4>
				<h3 class="text-xl">See whats up for grabs:</h3>

			</div>



			<div class="flex flex-row justify-around m-2 ">
				<Image
					src="/final-characters/b1.png"
					alt="fiz the science note"
					width={200}
					height={500}
					format="avif"
					quality={100}
					fit="cover"
				/>
		</div>

	</div>

	<section class="bg-slate-900 p-7 m-7 flex-col flex flex-wrap justify-center">
        <h1 class="text-xl font-biz text-white">Posts</h1>
        <div class=" bg-slate-800 flex flex-wrap justify-evenly">
        {
            allPosts.map((post) => (
                <MaxPostCard frontmatter={post.frontmatter} url={post.url} />
            ))
        }
		
        </div>

    </section>




</MainLayout>


