/* font importing */

/* aladin-regular - latin */
@font-face {
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/aladin-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/aladin-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Sedgweck-ave // diz*/	 
@font-face {
    font-family: 'Sedgwick-ave';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/sedgwick-ave-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/sedgwick-ave-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* jolly-lodger-regular - latin // creepy ledgable*/
@font-face {
    font-family: 'Jolly Lodger';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/jolly-lodger-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/jolly-lodger-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* bigelow-rules-regular - latin //creepy larger    //maybe try make thicker*/ 
@font-face {
    font-family: 'Bigelow Rules';
    font-style: normal;
    font-weight: 400;   
    src: local(''),
         url('./bizzifonts/bigelow-rules-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/bigelow-rules-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }




  /* bilbo-swash-caps-regular - latin */
@font-face {
    font-family: 'Bilbo Swash Caps';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/bilbo-swash-caps-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/bilbo-swash-caps-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* just-another-hand-regular - latin //old journal vibes - pirate treasure map*/   
@font-face {
    font-family: 'Just Another Hand';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifontsjust-another-hand-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifontsjust-another-hand-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
@font-face {/* sniglet-regular - latin //bubbly Xiz h1*/ 

  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./bizzifonts/sniglet-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/sniglet-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* faster-one-regular - latin //wiz H1 2*/ 
@font-face {
  font-family: 'Faster One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./bizzifonts/faster-one-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/faster-one-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ruslan-display-regular - latin //viz H1 2 */ 
@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./bizzifonts/ruslan-display-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/ruslan-display-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* stalinist-one-regular - latin  //liz h1 2*/
@font-face {
  font-family: 'Stalinist One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./bizzifonts/stalinist-one-v47-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/stalinist-one-v47-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sonsie-one-regular - latin //wiz h2*/    
@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./bizzifonts/sonsie-one-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/sonsie-one-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* frijole-regular - latin //shakey liquid*/   
@font-face {
  font-family: 'Frijole';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./bizzifonts/frijole-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./bizzifonts/frijole-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/pacifico-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/pacifico-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* ceviche-one-regular - latin */
@font-face {
    font-family: 'Ceviche One';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    src: local(''),
         url('./bizzifonts/ceviche-one-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/ceviche-one-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


/* Piz = fascinate-regular - latin */
@font-face {
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/fascinate-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./bizzifonts/fascinate-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
  }
/* fascinate-inline-regular - latin */
@font-face {
    font-family: 'Fascinate Inline';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./bizzifonts/fascinate-inline-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./bizzifonts/fascinate-inline-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  