---

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Cooking" description="Easy peasy grapefruit squeezy">
	<p>Welcome to cooking</p>
	<img src="/final-characters/b1.png"
	alt="biz"
	width="200" />
</MainLayout>