---

import MainLayout from "../layouts/MainLayout.astro";
import ButtonFun from "../components/ButtonFun.astro";
---

<MainLayout title="The Cooking">
	<p>Welcome to music</p>
	<ButtonFun option="woohooo" />
</MainLayout>