---
import { Image, Picture } from "@astrojs/image/components";

import MainLayout from "../layouts/MainLayout.astro";

const Note = "wiz"
const image = {
    src: `/final-characters/w1.png`,
    alt: "woaah so purple, much cabbage",
}


const allPosts = await Astro.glob("../all-posts/*.md");
import MaxPostCard from "../components/MaxPostCard.astro";

---

<MainLayout title="The Running">
	<div class="m-2 p-2 bg-black font-wiz text-wiz1 min-h-screen flex flex-col sm:flex-row justify-center items-center">
		<div class="flex-col">
	<h1 class="text-3xl">Welcome to Wizzi Notes</h1>
	<h2 class="text-xl"> A place to get faster at all your sports! </h2>
	</div>
	<div>
		<Image
        src={image.src}
        alt={image.alt}
        width={200}
        height={200}
        format="avif"
        quality={100}
        fit="cover"
        class="grow rounded-2xl"
      />
		<h1 class="font-biz">Hello there, I'm Wiz</h1>


</div>


<section class="bg-slate-900 min-h-screen flex flex-col sm:flex-row justify-center">
	<h1 class="text-xl font-biz text-white">Posts</h1>
	<div class=" bg-slate-800 flex flex-wrap justify-evenly">
	{
		allPosts.map((post) => (
			<MaxPostCard frontmatter={post.frontmatter} url={post.url} />
		))
	}
	
	</div>

</section>
</MainLayout>