---
const {option, path, message} = Astro.props;
---

<li
    class="
    py-2 px-6 mx-3 my-1 rounded-3xl bg-slate-900 font-biz text-3xl text-viz1 hover:text-biz1
    "
    data-text={message}
>
    <a href={path}>{option}</a>
</li>
