---
const {option, path, message} = Astro.props;
---

<li
    class="
    py-1 px-6 mx-3 my-1 rounded-3xl bg-slate-800 font-biz text-3xl text-viz1 text-center align-middle
    "
    data-text={message}
>
    <a href={path}>{option}</a>
</li>
