---
// component import
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
// style import
import "../styles/global.scss";
const {
  title = "No Title",
  description = "No Description",
  note = "biz",
} = Astro.props;
---

<html lang="en">
  <Header {title} {description} />
  <body class=`
  ${note}-global min-h-max bg-gradient-to-b from-black via-black to-viz1
  `>
    <div>
    <Navbar />
    <main>
      <slot> Default Text</slot>
    </main>
    <Footer />
    </div>
  </body>
</html>