---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="Test blog">
    <div class="container flex flex-row flex-auto">
        
    </div>
    <section class="bg-slate-900 p-7 m-7 flex-column flex flex-wrap justify-center">
        <h1 class="text-xl font-biz text-white">Posts</h1>
        <div class=" bg-slate-300 flex flex-wrap justify-evenly">
        {
            allPosts.map((post) => (
                <PostCard frontmatter={post.frontmatter} url={post.url} />
            ))
        }
        </div>

        <!-- <PostCard frontmatter={allPosts[0].frontmatter} url={allPosts[0].url} /> -->
    </div>
</MainLayout>