---
import MainLayout from "../../layouts/MainLayout.astro";
import ButtonLink from "../../components/ButtonLink.astro";
---
 
<MainLayout title="Test blog">
    <ul class="flex-c bg-slate-300">
        <li class="m-4">
            <ButtonLink option="test1" path="./test/test1" />
        </li>
        <li class="m-4">
            <ButtonLink option="test2" path="./test/test2" />
        </li>
        <li class="m-4">
            <ButtonLink option="test3" path="./test/test3" />
        </li>
        <li class="m-4">
            <ButtonLink option="test4" path="./test/test4" />
        </li>
        <li class="m-4">
            <ButtonLink option="test5" path="./test/test5" />
        </li>
    </ul>
</MainLayout>